{
  "host_id": "",
  "host_name": "IIS Administration API",
  "urls": "https://*:%iis_admin_test_port%",
  "security": {
    "require_windows_authentication": true,
    "users": {
      "administrators": [
        "IIS Administrators",
        "IIS Administration API Owners"
      ],
      "owners": [
        "IIS Administration API Owners"
      ]
    },
    "access_policy": {
      "api": {
        "users": "administrators",
        "access_key": true
      },
      "api_keys": {
        "users": "administrators",
        "access_key": false
      },
      "system": {
        "users": "owners",
        "access_key": true
      }
    }
  },
  "logging": {
    "enabled": true,
    "file_name": "log-{Date}.txt",
    "min_level": "Error",
    "path": null
  },
  "auditing": {
    "enabled": true,
    "file_name": "audit-{Date}.txt",
    "path": null
  },
  "cors": {
    "rules": [
      {
        "origin": "https://manage.iis.net",
        "allow": true
      }
    ]
  },
  "files": {
    "locations": [
      {
        "alias": "inetpub",
        "path": "%systemdrive%\\inetpub",
        "claims": [
          "read",
          "write"
        ]
      },
      {
        "alias": "tests",
        "path": "%iis_admin_test_dir%",
        "claims": [
          "read",
          "write"
        ]
      }
    ]
  }
}