<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.applicationHost">
      <section name="applicationPools" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="configHistory" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="customMetadata" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="listenerAdapters" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="log" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="serviceAutoStartProviders" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="sites" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="webLimits" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
    </sectionGroup>
    <sectionGroup name="system.webServer">
      <section name="globalModules" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="modules" />
      <section name="caching" overrideModeDefault="Allow" />
      <section name="handlers" overrideModeDefault="Allow" />
      <section name="staticContent" />
      <section name="serverRuntime" />
      <section name="httpProtocol" overrideModeDefault="Allow" />
      <sectionGroup name="security">
        <section name="access" />
        <sectionGroup name="authentication">
          <section name="anonymousAuthentication" overrideModeDefault="Allow" />
          <section name="windowsAuthentication" overrideModeDefault="Allow" />
        </sectionGroup>
        <section name="authorization" overrideModeDefault="Allow" />
      </sectionGroup>
      <section name="aspNetCore" overrideModeDefault="Allow" />
    </sectionGroup>
  </configSections>
  <system.applicationHost>
    <applicationPools>
      <add name="IISAdminAppPool" managedRuntimeVersion="" managedPipelineMode="Integrated" />
    </applicationPools>
    <sites>
      <site name="IISAdmin" id="1">
        <bindings>
          <binding protocol="https" bindingInformation="*:55539:" />
        </bindings>
        <application path="/" applicationPool="IISAdminAppPool">
          <virtualDirectory path="/" physicalPath="{Microsoft.IIS.Administration PHYSICAL_PATH}" />
        </application>
      </site>
    </sites>
  </system.applicationHost>
  <system.webServer>
    <globalModules>
      <add name="UriCacheModule" image="%windir%\System32\inetsrv\cachuri.dll" />
      <add name="FileCacheModule" image="%windir%\System32\inetsrv\cachfile.dll" />
      <add name="TokenCacheModule" image="%windir%\System32\inetsrv\cachtokn.dll" />
      <add name="HttpCacheModule" image="%windir%\System32\inetsrv\cachhttp.dll" />
      <add name="ProtocolSupportModule" image="%windir%\System32\inetsrv\protsup.dll" />
      <add name="StaticFileModule" image="%windir%\System32\inetsrv\static.dll" />
      <add name="AnonymousAuthenticationModule" image="%windir%\System32\inetsrv\authanon.dll" />
      <add name="WindowsAuthenticationModule" image="%windir%\System32\inetsrv\authsspi.dll" />
      <add name="UrlAuthorizationModule" image="%windir%\System32\inetsrv\urlauthz.dll" />
      <add name="AspNetCoreModule" image="%windir%\System32\inetsrv\aspnetcore.dll" />
    </globalModules>
    <modules>
      <add name="HttpCacheModule" />
      <add name="ProtocolSupportModule" />
      <add name="StaticFileModule" />
      <add name="AnonymousAuthenticationModule" />
      <add name="WindowsAuthenticationModule" />
      <add name="UrlAuthorizationModule" />
      <add name="AspNetCoreModule" />
    </modules>
    <handlers accessPolicy="Read, Script">
      <add name="StaticFile" path="*" verb="GET,HEAD" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
    </handlers>
    <aspNetCore>
      <recycleOnFileChange />
      <environmentVariables />
    </aspNetCore>
    <security>
      <authentication>
        <anonymousAuthentication enabled="false" userName="IUSR" />
        <windowsAuthentication enabled="false" authPersistNonNTLM="true">
          <providers>
            <add value="Negotiate" />
            <add value="NTLM" />
          </providers>
        </windowsAuthentication>
      </authentication>
    </security>
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <location path="IISAdmin/api">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Frame-Options" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>