<?xml version="1.0" encoding="utf-8"?>

<?define MsiProj = "IISAdministrationSetup" ?>

<?include ..\shared\common.wxi ?>
<?include include.wxi ?>

<?define UpgradeCode = "BAAD43D4-CFD2-4082-AD7C-BA9EF673CCEB" ?>

<Wix RequiredVersion="3.5.1405.0" xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle
      Name="Microsoft IIS Administration $(var.MsiVersion)"
      Manufacturer="Microsoft Corporation"
      Version="$(var.MsiVersion)"
      UpgradeCode="$(var.UpgradeCode)"
      Compressed="yes">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="..\shared\assets\license.rtf"
                                              ThemeFile="resources\Theme.xml"
                                              LocalizationFile="resources\Theme.wxl"
                                              SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

    <Chain DisableRollback="yes">
      <PackageGroupRef Id="dotnet_core_pkg" />
      <PackageGroupRef Id="aspnetcore_pkg" />
      <PackageGroupRef Id="iis_administration_pkg" />
    </Chain>
  </Bundle>

  <Fragment>
    <util:RegistrySearch Id="DOTNET_RUNTIME_SEARCH"
                         Root="HKLM"
                         Key="SOFTWARE\dotnet\Setup\InstalledVersions\$(var.Platform)\sharedhost"
                         Value="Version"
                         Result="value"
                         Variable="DOTNET_RUNTIME_VERSION"
                         Win64="$(var.IsWin64)" />
    <Variable Name="DOTNET_RUNTIME_VERSION_MINIMAL" Type="version" Value='3.1.0' />
    <PackageGroup Id="dotnet_core_pkg">
      <ExePackage Id="dotnet_core_exe"
                  Name="dotnet-runtime-3.1.9-win-x64.exe"
                  Permanent="yes"
                  Compressed="no"
                  DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/ceff8b33-6f27-425f-957d-91039cf01a9c/312410f11691fae3272f4274f787eb12/dotnet-runtime-3.1.9-win-x64.exe"
                  DetectCondition="(DOTNET_RUNTIME_VERSION) AND (DOTNET_RUNTIME_VERSION &gt;= DOTNET_RUNTIME_VERSION_MINIMAL)"
                  InstallCommand="/q /norestart">
        <RemotePayload CertificatePublicKey="F7E39D0BEF5615C1D09E695629E32600EE79639C"
                       CertificateThumbprint="A5BCE29A2944105E0E25B626120264BB03499052"
                       Description="Microsoft .NET Core Runtime - 3.1.9 (x64)"
                       Hash="A09322D4EACCDDF97EC50E416C18E1A962F44E03"
                       ProductName="Microsoft .NET Core Runtime - 3.1.9 (x64)"
                       Size="26119432" Version="3.1.9.29323" />
      </ExePackage>
    </PackageGroup>
  </Fragment>

  <Fragment>
    <util:RegistrySearch Id="ASPNET_CORE_31_SHARED_FRAMEWORK_SEARCH"
                         Root="HKLM"
                         Key="SOFTWARE\Microsoft\ASP.NET Core\Shared Framework\v3.1"
                         Result="exists"
                         Variable="ASPNET_CORE_31_SHARED_FRAMEWORK_EXISTS"
                         Win64="$(var.IsWin64)" />
    <PackageGroup Id="aspnetcore_pkg">
      <ExePackage Id="aspnetcore_exe"
                  Name="aspnetcore-runtime-3.1.9-win-x64.exe"
                  Permanent="yes"
                  Compressed="no"
                  DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/87bcc889-4afa-4c88-839c-d72497b84407/42105fc6c95feb5faa64b2be1b76a830/aspnetcore-runtime-3.1.9-win-x64.exe"
                  DetectCondition="(ASPNET_CORE_31_SHARED_FRAMEWORK_EXISTS)"
                  InstallCommand="/q /norestart">

        <!-- Information retrieved with the Heat tool of the WiX toolset -->
        <!-- heat payload aspnetcore-runtime-3.1.9-win-x64.exe -o aspnetcore-runtime-3.1.9-win-x64.wxs -->
        <RemotePayload CertificatePublicKey="3756E9BBF4461DCD0AA68E0D1FCFFA9CEA47AC18"
                       CertificateThumbprint="2485A7AFA98E178CB8F30C9838346B514AEA4769"
                       Description="Microsoft ASP.NET Core 3.1.9 - Shared Framework"
                       Hash="FCD8063955B20C07B6207F58FAC6E45CDAF43387"
                       ProductName="Microsoft ASP.NET Core 3.1.9 - Shared Framework"
                       Size="7875480" Version="3.1.9.20473" />
      </ExePackage>
    </PackageGroup>
  </Fragment>

  <!-- IIS Administration API MSI -->
  <Fragment>
    <Variable Name="DefaultCors" Type="string" Value="true" bal:Overridable="yes" />
    <PackageGroup Id="iis_administration_pkg">
      <MsiPackage
        Id="iis_administration_msi"
        SourceFile="$(var.SourceFilePath)\IISAdministrationSetup.msi"
        Name="packages\iis_administration.msi"
        Compressed="yes"
        Vital="yes"
        Cache="yes"
        DisplayInternalUI="no"
        InstallCondition="VersionNT64 AND VersionNT >= v6.1">
        <MsiProperty Name='INSTALLFOLDER' Value='[InstallFolder]' />
        <MsiProperty Name="VSEXTUI" Value="1"/>
        <MsiProperty Name="DEFAULT_CORS" Value='[DefaultCors]'/>
      </MsiPackage>
    </PackageGroup>
  </Fragment>
</Wix>
