<?xml version="1.0" encoding="utf-8"?>

<?define MsiProj = "IISAdministrationSetup" ?>

<?include ..\shared\common.wxi ?>
<?include include.wxi ?>

<?define UpgradeCode = "c6622fb5-da07-4c40-8bbb-66b327e6e729" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
      Name="Microsoft IIS Administration"
      Manufacturer="Microsoft Corporation"
      Version="$(var.MsiVersion)"
      UpgradeCode="$(var.UpgradeCode)">

    <bal:Condition Condition="NativeMachine &lt;&gt; 43620" Message="!(loc.LaunchCondition_ARM64_Bundle)" />

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseFile="..\shared\assets\license.rtf"
                                              ThemeFile="resources\Theme.xml"
                                              LocalizationFile="resources\Theme.wxl"
                                              Theme="rtfLargeLicense"
                                              ShowVersion="yes"
                                              SuppressOptionsUI="yes" />
    </BootstrapperApplication>

    <Chain DisableRollback="yes">
      <!-- <PackageGroupRef Id="dotnet_core_pkg" />
      <PackageGroupRef Id="aspnetcore_pkg" /> -->
      <PackageGroupRef Id="iis_administration_pkg" />
    </Chain>
  </Bundle>

  <Fragment>
    <util:RegistrySearch Id="DOTNET_RUNTIME_SEARCH"
                         Root="HKLM"
                         Key="SOFTWARE\dotnet\Setup\InstalledVersions\$(var.Platform)\sharedhost"
                         Value="Version"
                         Result="value"
                         Variable="DOTNET_RUNTIME_VERSION" />
    <Variable Name="DOTNET_RUNTIME_VERSION_MINIMAL" Type="version" Value='10.0.8' />
    <PackageGroup Id="dotnet_core_pkg">
      <ExePackage Id="dotnet_core_exe"
                  Permanent="yes"
                  Vital="no"
                  DetectCondition="(DOTNET_RUNTIME_VERSION) AND (DOTNET_RUNTIME_VERSION &gt;= DOTNET_RUNTIME_VERSION_MINIMAL)"
                  InstallArguments="/q /norestart">
          <ExePackagePayload
                  Name="dotnet-runtime-10.0.8-win-x64.exe"
                  Description=".NET 10.0 Runtime (v10.0.8) - Windows x64 Installer"
                  Hash="111f99b2ce9be6981af409fcba2102fdcebb47d659d2d73ace0067046a0a5a3438956784c771c2003c92a98fcf6b7c60029785f04d850783ec519338203f5516"
                  ProductName=".NET 10.0 Runtime (v10.0.8) - Windows x64 Installer" Size="28383304" Version="10.0.8"
                  Compressed="no"
                  DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/Runtime/10.0.8/dotnet-runtime-10.0.8-win-x64.exe" />
      </ExePackage>
    </PackageGroup>
  </Fragment>

  <Fragment>
    <util:RegistrySearch Id="ASPNET_CORE_1008_SHARED_FRAMEWORK_SEARCH"
                         Root="HKLM"
                         Key="SOFTWARE\Microsoft\ASP.NET Core\Shared Framework\v10.0.8"
                         Result="exists"
                         Variable="ASPNET_CORE_1008_SHARED_FRAMEWORK_EXISTS" />
    <PackageGroup Id="aspnetcore_pkg">
      <ExePackage Id="aspnetcore_exe"
                  Permanent="yes"
                  Vital="no"
                  DetectCondition="(ASPNET_CORE_1008_SHARED_FRAMEWORK_EXISTS)"
                  InstallArguments="/q /norestart">

        <ExePackagePayload
                  Name="aspnetcore-runtime-10.0.8-win-x64.exe"
                  Description="ASP.NET Core 10.0 Runtime (v10.0.8) - Windows x64 Installer"
                  Hash="a8209d7bf770a69d8ba4643f903cd425636253d73d0ecabe6f4a4ff2870fbe619f252f5fa27b8e8f6f31b65a4495e55e4511f2fc4e40c7d867a9ee618844af86"
                  ProductName="ASP.NET Core 10.0 Runtime (v10.0.8) - Windows x64 Installer" Size="8896496" Version="10.0.8"
                  Compressed="no"
                  DownloadUrl="https://builds.dotnet.microsoft.com/dotnet/aspnetcore/Runtime/10.0.8/aspnetcore-runtime-10.0.8-win-x64.exe" />
      </ExePackage>
    </PackageGroup>
  </Fragment>

  <!-- IIS Administration API MSI -->
  <Fragment>
    <Variable Name="DefaultCors" Type="string" Value="true" bal:Overridable="yes" />
    <PackageGroup Id="iis_administration_pkg">
      <MsiPackage
        Id="iis_administration_msi"
        SourceFile="$(var.SourceFilePath)\IISAdministrationSetup.msi"
        Name="packages\iis_administration.msi"
        Compressed="yes"
        Vital="yes"
        Cache="keep"
        InstallCondition="VersionNT64 AND VersionNT >= v6.1">
        <MsiProperty Name='INSTALLFOLDER' Value='[InstallFolder]' />
        <MsiProperty Name="VSEXTUI" Value="1"/>
        <MsiProperty Name="DEFAULT_CORS" Value='[DefaultCors]'/>
      </MsiPackage>
    </PackageGroup>
  </Fragment>
</Wix>
