<?xml version="1.0" encoding="utf-8" ?>

<!--
    IIS Administration setup
-->

<?include ..\shared\common.wxi ?>

<!-- NB: *Must* update the ProductCode GUID on each release! -->
<?define ProductCode = "*" ?>
<?if $(var.IsWin64)=no ?>
<?define UpgradeCode = "47906ef7-59ab-4307-b0aa-f00b33e3d276" ?>
<?else?>
<?define UpgradeCode = "af32e7e9-1ab6-45af-a7a3-16f2d4b16ce7" ?>
<?endif?>

<?if $(var.Platform)="x64" ?>
<?define UtilCA = "Wix4UtilCA_X64" ?>
<?define QuietExec = "WixQuietExec64" ?>
<?else ?>
<?define UtilCA = "Wix4UtilCA_X86" ?>
<?define QuietExec = "WixQuietExec" ?>
<?endif ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="$(var.ProductName)"
        Manufacturer="!(loc.Manufacturer)"
        Version="$(var.MsiVersion)"
        Language="!(loc.Language)"
        UpgradeCode="$(var.UpgradeCode)"
        ProductCode="$(var.ProductCode)"
        InstallerVersion="400"
        Compressed="yes"
        Scope="perMachine">

    <Media Id="1" Cabinet="iisadmin.cab" EmbedCab="yes" CompressionLevel="high"/>

    <PropertyRef Id="DEFAULT_CORS" />

    <Property Id="ARPCONTACT" Value="Microsoft Corporation" />
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    <Icon Id="icon.ico" SourceFile="..\shared\assets\bitmaps\icon.ico" />

    <WixVariable Id="WixUILicenseRtf" Value="..\shared\assets\license.rtf" />

    <MajorUpgrade DowngradeErrorMessage="!(loc.NewerVersionFound)"
                  MigrateFeatures="yes" />

    <!-- Require Administrator -->
    <Launch Condition="Privileged" Message="!(loc.AdminRequired)" />

    <!-- Require Windows 7 or higher.  -->
    <Launch Condition="(VersionNT &gt;= 601) OR BYPASSOSCHECK OR Installed" Message="[ProductName] requires Microsoft Windows 7 or newer." />

    <?if "$(var.Platform)"="x86" ?>
    <!-- Prevent install of 64-bit product on 32-bit machine -->
    <Launch Condition="Installed Or NOT VersionNT64" Message="!(loc.LaunchCondition_32BIT)" />
    <?endif ?>

    <?if "$(var.Platform)"="x64" ?>
    <!-- Prevent install of 32-bit product on 64-bit machine -->
    <Launch Condition="Installed Or VersionNT64" Message="!(loc.LaunchCondition_64BIT)" />
    <?endif ?>



    <!-- Feature Definition -->
    <Feature Id="IISAdministrationFeature" Title="$(var.ProductName)" Description="$(var.ProductName)" Level="1">
      <ComponentRef Id="C_EmptyLogsDir" />
      <ComponentRef Id="C_ThirdPartyNotice.txt" />
      <ComponentGroupRef Id="Config_Collection" />
      <ComponentGroupRef Id="Microsoft_IIS_Administration_Collection" />
      <ComponentGroupRef Id="WinRuntimesLib_Collection" />
      <ComponentGroupRef Id="Plugins_Collection" />
      <ComponentGroupRef Id="Refs_Collection" />
      <ComponentGroupRef Id="Scripts_Collection" />
      <ComponentGroupRef Id="Views_Collection" />
      <ComponentGroupRef Id="wwwRoot_Collection" />
    </Feature>

    <!-- User Interface -->
    <ui:WixUI Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText"/>

    <UI>
      <DialogRef Id="WelcomeEulaDlg"/>
    </UI>

    <!-- CA's to invoke powershell script -->
    <CustomAction Id="CA_PSINSTALL_PROPERTY"
                      Property="CA_PSINSTALL"
                      Value="&quot;PowerShell.exe&quot; -NonInteractive -NoLogo -InputFormat None -NoProfile -ExecutionPolicy Bypass -Command &quot;&amp; &apos;[SetupDir]msi-setup.ps1&apos; Install -Verbose -Path &apos;[INSTALLDIR]&apos; -Version &apos;$(var.MsiVersion)&apos;&quot; -IncludeDefaultCors:$[DEFAULT_CORS]" />
    <CustomAction Id="CA_PSINSTALL" BinaryRef="$(var.UtilCA)" DllEntry="$(var.QuietExec)" Execute="deferred" Impersonate="yes"/>

    <CustomAction Id="CA_PSUPGRADE_PROPERTY"
                      Property="CA_PSUPGRADE"
                      Value="&quot;PowerShell.exe&quot; -NonInteractive -NoLogo -InputFormat None -NoProfile -ExecutionPolicy Bypass -Command &quot;&amp; &apos;[SetupDir]msi-setup.ps1&apos; Upgrade -Verbose -Path &apos;[INSTALLDIR]&apos; -Version &apos;$(var.MsiVersion)&apos;&quot;"/>
    <CustomAction Id="CA_PSUPGRADE" BinaryRef="$(var.UtilCA)" DllEntry="$(var.QuietExec)" Execute="deferred" Impersonate="yes"/>

    <CustomAction Id="CA_PSUNINSTALL_PROPERTY"
                      Property="CA_PSUNINSTALL"
                      Value="&quot;PowerShell.exe&quot; -NonInteractive -NoLogo -InputFormat None -NoProfile -ExecutionPolicy Bypass -Command &quot;&amp; &apos;[SetupDir]msi-setup.ps1&apos; Uninstall -Verbose -Path &apos;[INSTALLDIR]&apos; -Version &apos;$(var.MsiVersion)&apos;&quot;"/>
    <CustomAction Id="CA_PSUNINSTALL" BinaryRef="$(var.UtilCA)" DllEntry="$(var.QuietExec)" Execute="deferred" Impersonate="yes"/>

    <!-- CA's to check launch condition -->
    <CustomAction Id="CA_LaunchCondition" Error="To install this product, please run the installer EXE." />
    <InstallExecuteSequence>
      <Custom Action="CA_LaunchCondition" Before="CostInitialize" Condition="NOT( (ADDEPLOY = 1 OR VSEXTUI = 1 OR ADVERTISED = 1 OR ProductState &gt;= 1) )" />
      <Custom Action="CA_PSINSTALL_PROPERTY" After="InstallFiles" Condition="NOT REMOVE AND NOT OLDERVERSIONFOUND" />
      <Custom Action="CA_PSINSTALL" After="CA_PSINSTALL_PROPERTY" Condition="NOT REMOVE AND NOT OLDERVERSIONFOUND" />
      <Custom Action="CA_PSUPGRADE_PROPERTY" After="InstallFiles" Condition="NOT REMOVE AND OLDERVERSIONFOUND" />
      <Custom Action="CA_PSUPGRADE" After="CA_PSUPGRADE_PROPERTY" Condition="NOT REMOVE AND OLDERVERSIONFOUND" />
      <Custom Action="CA_PSUNINSTALL_PROPERTY" Before="CA_PSUNINSTALL" Condition="REMOVE~=&quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE" />
      <Custom Action="CA_PSUNINSTALL" Before="RemoveFiles" Condition="REMOVE~=&quot;ALL&quot; AND NOT UPGRADINGPRODUCTCODE" />
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="CA_LaunchCondition" Before="CostInitialize" Condition="NOT( (ADDEPLOY = 1 OR VSEXTUI = 1 OR ADVERTISED = 1 OR ProductState &gt;= 1) )" />
    </InstallUISequence>
  </Package>
</Wix>

